@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: #000;
}
.containers {
    width: 1140px;
    margin: 0 auto;
}

.searchBlock {
    display: block;
    transition: margin-right 2s .5s;
}

.searchNone {
    display: none;
    transition: margin-right 2s .5s;
}




